@import "./variables";

@mixin navbar-highlight {
  border-color: $navbar-bg;
  background-color: $navbar-bg;
  color: $navbar-color;
  transition: all ease-in-out 250ms;
}

.title-bar {
  background-color: $title-bar-bg;
}

.navbar {
  color: $navbar-color;
  background-color: $body-background-color;
  border-bottom: $border-width * 2 solid $navbar-bg;

  .main-nav {
    ul {
      gap: 1em;
    }
    &__link {
      a {
        font-size: 1.35em;
        padding: 0.2em;
        color: $body-font-color;
        border-radius: $border-width * 2 $border-width * 2 0 0;
        border: 1px solid $gray-light;
        border-bottom: none;
        background-color: $body-background-color;
        text-decoration: none;

        &:hover {
          @include navbar-highlight;
          background-color: $primary;
          border-color: $primary;
        }
      }

      &--active a {
        box-shadow: none;
        font-weight: 900;
        @include navbar-highlight;
      }
    }
  }
}

.dropdown.menu {
  .is-dropdown-submenu-parent,
  .is-dropdown-submenu-parent.is-active {
    a {
      color: $link-color;
    }
  }
}

.topbar {
  &__search {
    input,
    input:focus {
      color: $body-font-color;
      background-color: $gray-light;
    }

    input::placeholder,
    textarea::placeholder {
      color: $navbar-color;
    }

    &:not(:focus-within) .button {
      background-color: $link-color;
      color: $title-bar-bg;
    }
  }

  &__user__login,
  &__admin__link,
  &__menu,
  &__dropmenu,
  &__notifications,
  &__conversations {
    a {
      color: $link-color;
      text-decoration: none;

      &:hover {
        color: $link-color;
        text-decoration: underline;
      }
    }

    .icon,
    svg {
      opacity: 0.5;
      fill: $link-color;
    }

    & > ul > li > a::after {
      border-top-color: transparentize($body-font-color, 0.5) !important;
    }
  }
}

.subhero-cta {
  color: $body-font-color;
  &:hover {
    color: $body-font-color;
  }
}

.logo-wrapper {
  img {
    max-height: 60px;
  }
}

.title-bar {
  background-color: $title-bar-bg;
  color: $primary;
}
