@import "./variables";

.title-bar {
  background-color: $primary;
  color: white;
}

.navbar {
  background-color: lighten($primary, 10%);
}

.main-nav {
  color: white;
  &__link {
    color: white;
    a {
      color: white;
    }
  }
}
