@import "./variables";

.navbar {
  background-color: $navbar-bg;
}

.main-nav__link a {
  color: $navbar-color;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;

  &:hover {
    color: $navbar-color;
  }
}
