@import "./variables";

.process-nav {
  background-color: $primary;
  box-shadow: none;
  padding: $border-width * 2;

  a {
    border-radius: $border-width;
    padding: $border-width * 2;
  }

  a:hover {
    background-color: $success;
  }
}

.process-nav__content li {
  &.is-active {
    a {
      background-color: $success;
    }
    color: $white;
  }
}

.process-nav__more {
  color: $white;
  background-color: rgba(var(--primary-rgb), 0.1);

  i {
    background-color: $white;
  }
}

.process-nav__hidden-content {
  background-color: $primary;
}

.process-nav__hidden-content__more {
  @extend .process-nav__more;

  background-color: $success;
}

.process-nav__link {
  text-transform: none;
  color: $white;

  &:hover {
    text-decoration: underline;
  }

  svg {
    fill: $white;
  }
}
