@import "./variables";

.title-bar {
  background-color: $title-bar-bg;
}

.logo-wrapper {
  img {
    height: 60px;
  }
}

.topbar__user__login a,
.topbar__dropmenu > ul > li > a,
.topbar__admin__link a {
  color: $body-font-color;

  &:hover {
    color: $link-color-hover;
  }
}

.topbar__dropmenu > ul > li > a::after {
  border-top-color: $body-font-color !important;
}

.topbar__search input {
  background-color: $gray-light;
  color: $body-font-color;
}

.topbar__search:not(:focus-within) button {
  background-color: $success;
}
