$white: white;
$light-gray: #f0f0f0;
$black: black;
$main-deep: #1f2041;
$alt-blue: #00718d;
$main-blue: #1c7376;
// $success: #00c78b;
$success: #2a8d00;
$alt-green: #2a8d00;
$main-green: #718d00;
$warning-1: #73761c;
$warning: #efa00b;
$alert: #d65108;

$complementary: #761f1c;
$complementary-2: #1c008d;

// Variables

$primary: $main-blue;
$primary-rgb: 28, 115, 118;
$secondary: $main-green;
$secondary-rgb: #718d00;
// $success: #008d62;
$success-rgb: 0, 141, 98; // change
// $warning: #8d6300;
$warning-rgb: 141, 99, 0; // change
// $alert: #8d002b;
$alert-rgb: 141, 0, 43; // change
$highlight: $alt-blue;
$highlight-rgb: 0, 113, 141;
$highlight-alternative: $alt-green;
$highlight-alternative-rgb: 42, 141, 0;

$proposals: #238ff7;
$actions: #57d685;
$debates: #fa6c96;
$meetings: #fabc6c;

$twitter: #55acee;
$facebook: #3b5998;
$google: #4285f4;

// background colors used in public diff views
$color-addition: #e6ffed;
$color-removal: #ffeef0;

:root {
  --primary: #{$primary};
  --primary-rgb: #{$primary-rgb};
  --secondary: #{$secondary};
  --secondary-rgb: #{$secondary-rgb};
  --success: #{$success};
  --success-rgb: #{$success-rgb};
  --warning: #{$warning};
  --warning-rgb: #{$warning-rgb};
  --alert: #{$alert};
  --alert-rgb: #{$alert-rgb};
  --proposals: #{$proposals};
  --actions: #{$actions};
  --debates: #{$debates};
  --meetings: #{$meetings};
  --twitter: #{$twitter};
  --facebook: #{$facebook};
  --google: #{$google};
}
