$white: white;
$gray-light: #f0f0f0;
$gray-dark: #9a9a9a;
$black: black;

$main-deep: #1f2041;
$main-blue: #1c7376;
$main-alt: #00c78b;
$red: #d65108;

$complementary: #761f1c;
$complementary-2: #1c008d;

// Variables

$primary: #1c7376;
$primary-rgb: 28, 115, 118;
$secondary: #00c78b;
$secondary-rgb: 0, 199, 139;
$success: #718d00;
$success-rgb: 113, 141, 0;
$warning: #efa00b;
$warning-rgb: 239, 160, 11;
$alert: #d65108;
$alert-rgb: 214, 81, 8;
$highlight: #00c78b;
$highlight-rgb: 0, 199, 139;
$highlight-alternative: #1c008d;
$highlight-alternative-rgb: 28, 0, 141;

$link-color: $secondary;
$link-color-disabled: desaturate($secondary, 50%);
$link-color-hover: lighten($secondary, 10%);

$border-color: $primary;
$border-width: 4px;
$border: $border-width solid $border-color;

$body-font-color: $black;
$body-background-color: $white;
$navbar-color: $primary;
$title-bar-color: $body-font-color;

$title-bar-bg: $body-background-color;
$navbar-bg: $body-background-color;
$navbar-fg: $body-font-color;
$navbar-fg-hover: $body-font-color;

$button-shadow: 0 0 25px 2px transparentize($black, 0.8);
$card-shadow: 0 0 25px 2px transparentize($black, 0.8);

$proposals: #238ff7;
$actions: #57d685;
$debates: #fa6c96;
$meetings: #fabc6c;

$twitter: #55acee;
$facebook: #3b5998;
$google: #4285f4;

// background colors used in public diff views
$color-addition: #e6ffed;
$color-removal: #ffeef0;

:root {
  --primary: #{$primary};
  --primary-rgb: #{$primary-rgb};
  --secondary: #{$secondary};
  --secondary-rgb: #{$secondary-rgb};
  --success: #{$success};
  --success-rgb: #{$success-rgb};
  --warning: #{$warning};
  --warning-rgb: #{$warning-rgb};
  --alert: #{$alert};
  --alert-rgb: #{$alert-rgb};
  --twitter: #{$twitter};
  --facebook: #{$facebook};
  --google: #{$google};
}

.callout.primary {
  background-color: lighten($primary, 15%);
}

.callout.secondary {
  background-color: lighten($secondary, 15%);
}

.callout.success {
  background-color: lighten($success, 15%);
}

.callout.warning {
  background-color: lighten($warning, 15%);
}

.callout.alert {
  background-color: lighten($alert, 15%);
}

$unit: 16px;

@import "./fonts";
